<div class="nav-section">
  <img class="darxforge-logo-svg" src="assets/DARXFORGE.svg">
  <div class="notch">
    <div class="work-text">Work</div>
    <div class="services-text">Services</div>
    <div class="about-text">About</div>
    <div class="scroll-to-top-icon">  <img class="scroll-icon-svg" src="assets/Slide%20Up.svg" alt="Example SVG"> </div>
  </div>
  <div class="social-media-links">
    <img class="instagram-icon" src="assets/Frame%2036instagram.svg">
    <img class="facebook-icon" src="assets/Frame%2037facebook.svg">
    <img class="call-icon" src="assets/Frame%2038call.svg">
  </div>
</div>
