<div class="body">
  <app-nav-bar></app-nav-bar>
  <div class="section-heading">
    <div class="heading-row-1">
      <p class="your">Your</p>
      <p class="design">Design</p>
    </div>
    <div class="heading-row-2">
      <p class="engineering">Engineering</p>
      <p class="plus">+</p>
      <p class="ai">AI</p>
      <p class="mastery">Mastery</p>
    </div>
    <div class="heading-row-3">
      <p class="pinnacle-of-brilliance">Pinnacle of Brilliance</p>
    </div>
  </div>
  <div class="section-para">
    We collaborate with businesses of all sizes to create tailored apps and software that truly make an impact.
  </div>
  <!--  design section start-->
  <div class="design-section">
    <img class="design-section-bg-img" src="assets/Rectangle%206designSectionBgBlob.svg">
    <div class="design-section-overlay">
      <div class="design-section-heading">
        <p class="design-section-heading-line-1">Adore the design.</p>
        <p class="design-section-heading-line-2">Attract the Audience.</p>
      </div>
      <div class="design-section-content">
        <div class="design-section-image">
          <img class="design-section-image-svg" src="assets/Frame%2087designSectionImg.svg">
        </div>
        <div class="design-section-sub-text">
          Crafting seamless, user-friendly digital experiences that your users will truly adore.
        </div>
      </div>
    </div>
  </div>
  <!--design section end-->
  <!--  engineering section start-->
  <div class="engineering-section">
    <img class="engineering-section-bg-img" src="assets/Rectangle%207engineeringBgSvg.svg">
    <div class="engineering-section-overlay">
      <div class="engineering-section-heading">
        <p class="engineering-section-heading-line-1">Explore engineering.</p>
        <p class="engineering-section-heading-line-2">Master the craft.</p>
      </div>
      <div class="engineering-section-content">
        <div class="engineering-section-sub-text">

          Collaborate with us to create your dream product, mastering engineering challenges with precision.
        </div>
        <div class="engineering-section-image">
          <img class="engineering-section-image-svg" src="assets/Frame%2088engineeringBlobImg.svg">
        </div>
      </div>
    </div>
  </div>
  <!--  engineering section end-->
  <!--AI section starts-->
  <div class="ai-section">
    <img class="ai-section-bg-img" src="assets/Rectangle%208aisectionBgImgSvg.svg">
    <div class="ai-section-overlay">
      <div class="ai-section-heading">
        <p class="ai-section-heading-line-1">Unleash AI.</p>
        <p class="ai-section-heading-line-2">Rule the domain.</p>
      </div>
      <div class="ai-section-content">
        <div class="ai-section-image">
          <img class="ai-section-image-svg" src="assets/robotoSvgnew.png">
        </div>
        <div class="ai-section-sub-text">
          Boost your business with tailored AI solutions that drive success.
        </div>
      </div>
    </div>
  </div>
  <!--  ai section ends-->
  <!--  projects section starts-->
  <!--  project section ends-->
  <!--  client testimonial section starts-->
  <div class="client-section-container">

    <div class="matrices-container">
      <div class="matrices-container-box">
        <p class="matrice-title">Client Satisfaction </p>
        <p class="matrice-percentage">98%</p>
      </div>
      <div class="matrices-container-box">
        <p class="matrice-title">Client Retention Rate</p>
        <p class="matrice-percentage">100%</p>
      </div>
      <div class="matrices-container-box">
        <p class="matrice-title">Revenue Growth</p>
        <p class="matrice-percentage">30%</p>
      </div>
    </div>

    <div class="testimonial-container">
      <div class="testimonal-title">
        Hear the Praise. Celebrate Our Clients.
      </div>
      <div class="testimonial-cards-wrapper" (scroll)="onScroll($event)">
        <div class="testimonial-cards-container">
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
          <div class="testimonial-card">
            <div class="card-upper-section">
              <div class="name-container">
                <p class="client-name">Alex J</p>
              </div>
              <div class="client-dp">
                <img class="client-dp-image-svg" src="assets/Rectangle%204clientDp.svg">
              </div>

            </div>
            <div class="card-lower-section">
              <div class="client-professsion">
                <p class="client-profession-text">
                  Co-founder
                </p>

              </div>
              <div class="client-feedback-container">
                <p class="client-feedback">"Incredible commitment to excellence. Transformative solutions!"</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!--  client testimpnial section ends-->
  <!--  project portfolio section starts-->

  <div class="portfolio-section-container">
    <div class="portfolio-section-content">
      <div class="portfolio-section-heading">
        Our Masterpieces.<br>Your Inspiration.
      </div>
      <div class="portfolio-section-video-container">
        <div class="portfolio-section-video-webM">
          <video id="video1" class="portfolio-video" src="assets/Video1.webm" autoplay loop></video>
          <video id="video2" class="portfolio-video" src="assets/video2.webm" autoplay loop></video>
          <video id="video3" class="portfolio-video" src="assets/video3.webm" autoplay loop></video>
        </div>
        <div class="portfolio-navigation-container">
          <div class="nav-dot" data-video="video1"></div>
          <div class="nav-dot" data-video="video2"></div>
          <div class="nav-dot" data-video="video3"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-us-section-container">
    <div class="contact-us-form-container">
      <div class="lets-talk-heading">
        Let’ Talk
      </div>
      <div class="form-section">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group"x>
            <div class="name-phone-number-container">
              <div class="form-name-container">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="firstName" required>
                </mat-form-field>
              </div>
              <div class="phone-container">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" required>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="email-container">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="description-send-button-container">
                <div class="description-container-text">
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label> Tell us a little bit about yourself</mat-label>
                    <textarea matInput formControlName="description" rows="5"></textarea>
                  </mat-form-field>
                </div>


            </div>
          </div>
          <div class="form-group">

            <div class="send-button-container">
              <div class="form-group submit-button">
                <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid" >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="follow-us-container">
      <div class="follow-us-text-with-button">
        <div class="follow-us-on-insta-text">
          Follow us on <br>
          Instagram
        </div>
        <div class="follow-us-insta-icon">
          <img src="assets/instaIconFollowSection.svg">
        </div>
      </div>

    </div>

  </div>

  <!--  project portfolio section ends-->
</div>
